<!DOCTYPE html>
<html>
<head>
  <title>Rewsly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Source+Code+Pro:400,700' />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container">
  <div class="row-loose">
    <div class="col-4">
      <h1 class="h3 hug">
        <%= link_to 'Rewsly', root_path %>
      </h1>
    </div>
    <nav class="col-8">
      <ul>
        <li><%= link_to 'Stories', root_path %></li>
      </ul>
    </nav>
  </div>
</header>
<%= yield %>

</body>
</html>
